{{ define "main" }}

    <h3>Most Recent Presidents</h3>
    <div class="row">
        <ul  class="list-unstyled">
            {{ range sort (where .Data.Pages "Section" "person") "Params.position" }}
                {{ partial "components/person-list-item.html" . }}
            {{ end }}
        </ul>
    </div>

    <!-- TODO:
        - [] Print to PDF
        - Add donate link
        - Add take-down info in footer
        - Give wikipedia credit for data source
        - Add person and news schema
        - Change text to "Succeeding" if it's current president
        - Add facts
    -->

{{ end }}