{{ partial "header.html" }}
<h2>{{ .Params.name }}
    <small>(served {{ len .Params.terms }}
    {{ if gt (len .Params.terms) 1 }}terms{{ else }}term{{ end }})</small></h2>
<p>{{ .Content }}</p>
<h3>{{ .Params.name }} Personal Details:</h3>
<p>Born: {{ dateFormat "Jan 2, 2006" .Params.birth_date }}</p>
<h3>{{ .Params.name }} Terms:</h3>
    {{ range $term := .Params.terms }}
        <h4>{{ dateFormat "Jan 2, 2006" .start}} - {{ dateFormat "Jan 2, 2006" .end }}</h4>
        <p>Priminister(s)</p>
            {{ $pm := $term.prime_ministers }}
            <ul>
                {{ range $pm }}
                    <li>{{ .name }} - {{ .period }}</li>
                {{ end }}
            </ul>
        <p>Predecessor: {{ $term.predecessor }}</p>
        <p>Successor: {{ $term.successor }}</p>
        <p>Status: {{ $term.status }}</p>
    {{ end }}
{{ partial "footer.html" }}
