{{ partial "header.html" }}
<h2>{{ .Params.name }}
    <small>(served {{ len .Params.terms }}
    {{ if gt (len .Params.terms) 1 }}terms{{ else }}term{{ end }})</small></h2>
<p>{{ .Content }}</p>
<h3>{{ .Params.name }} Personal Details:</h3>
<p>Born: {{ dateFormat "Jan 2, 2006" .Params.birth_date }}</p>

<!--  TERMS -->
<h3>{{ .Params.name }} Terms:</h3>
<table class=table>
    <tr>
        <th class="text-center" colspan="2">term dates</td>
    </tr>
    <tr>
        <th>Prime Ministers:</td>
        <td>Rene Prevale (1987-1988)</td>
    </tr>
    <tr>
        <th>Preceded by:</td>
        <td>preceed name</td>
    </tr>
    <tr>
        <th>Succeeded by:</td>
        <td>succeed name</td>
    </tr>
    <tr>
        <th>Status:</td>
        <td>status</td>
    </tr>
</table>
    {{ range $term := .Params.terms }}
        <h4>{{ dateFormat "Jan 2, 2006" .start}} - {{ dateFormat "Jan 2, 2006" .end }}</h4>
        <p>Priminister(s)</p>
        <ul>
            {{ range $term.prime_ministers }}
                <li>{{ .name }} - {{ .period }}</li>
            {{ end }}
        </ul>
        <p>Preceded by: {{ $term.predecessor }}</p>
        <p>Succeeded by: {{ $term.successor }}</p>
        <p>Status: {{ $term.status }}</p>
    {{ end }}
{{ partial "footer.html" }}
