body {
  background: #f6f6f6;
  color: #293340;
  font-family: "Source Sans Pro", Arial, "Helvetica Neue", sans-serif;
  font-size: 1.125rem;
  line-height: 1.66667;
}

h3 {
  font-family: "Merriweather", serif;
}

.card  {
  border: none;
}

.card h3 {
  font-size: 1.25rem;
}

.card-img-left {  
  border-radius: 0 3px 3px 0;
  width: 150px;
}

.text-blue {
  color: #609BFE;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

@media (min-width: 768px) {
  .w-md-200 { width: 200px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

/* .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); } */