<!-- *************** CURRENT PRESIDENT *************** -->
<div class="container jumbotron p-4 text-dark rounded bg-light box-shadow">
    <div class="row">
    <div class="col-12 col-md-5">
        <img src="/images/presidents/jovenel-moise_cover.jpg" class="img-fluid mb-3 mb-md-0" itemprop="image" alt="President Name">
    </div>
    <div class="col-12 col-md-6 px-2">
        <h3>Jovenel Moise <small class="text-muted">(2016-present)</small></h3>
        <p class="lead my-3">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        <p class="lead mb-0"><a href="#" class="text-dark">Read more...</a></p>
    </div>
    </div>
</div>