<div class="col-12 col-lg-6">
	<div class="card flex-row mb-4 box-shadow">
		<a href="{{ .Permalink }}">
            <img class="card-img-left flex-auto w-200" src="/images/presidents/{{ .Params.photo }}" alt="{{ .Params.name }}">
		</a>
		<div class="card-body d-flex flex-column align-items-start">
			<strong class="d-inline-block mb-2 text-blue">#{{ .Params.position }}</strong>
			<h3 class="mb-0">
				<a class="p-name" href="{{ .Permalink }}">{{ .Params.name }}</a>
			</h3>
			<div class="mb-1 text-muted"><small>2011-2016</small></div>
			<p class="card-text mb-auto d-none d-md-none d-lg-block">{{ .Params.summary }}</p>			
		</div>		
	</div>
</div>